.about{
    display: flex;
    padding: 20px 5%;
    align-items: center;
}

.about .content{
    margin-left: 50px;
}

.about h3{
    font-weight: 600;
    font-size: 42px;
    margin-bottom: 20px;
    color: #280A00;
}

.about p{
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;
}

.about button{
    background: #683503;
    border: none;
    border-radius: 10px;
    padding: 13px 25px;
    color: #fff;
}

.about .logo-con{
    width: 40vw;
}
      
.about img{
   scale: .9;
   min-width: 40vw;
   width: 100%;
}

@media screen and (max-width: 750px) {
    .about{
        flex-direction: column;
    }

    .about h3{
        color: #280A00;
        font-size: 40px;
    }

    .about .content{
        margin-left: 0;
    }

    .about .logo-con{
        width: 90vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about .content p{
        font-size: 18px;
    }

    .about img{
        scale: 1;
        max-width: none;
        width: 100%;
    }
}