.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

.navbar div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar span{
    color: #683503;
}

.navbar a{
    text-decoration: none;
    color: #683503;
    margin: 0 20px;
    font-size: 18px;
}

.navbar .menu{
    width: 40px;
}

@media screen and (max-width: 750px) {
    .navbar span{
        display: none;
    }
}