.mission{

}

.mission h3{
    margin-left: 2.5%;
    font-weight: 600;
    font-size: 56px;
    line-height: 84px;
}

.mission .content h4{
    font-weight: 600;
    font-size: 42px;
    line-height: 63px;
    margin: 10px 0;
}

.mission .content{
    padding: 0 5%;
}

.mission .content p{
    font-weight: 500;
    font-size: 16px;
    line-height: 43px;
    letter-spacing: 0.0015em;
    margin-bottom: 40px;
}

@media screen and (max-width: 600px) {
    .mission h3{
        font-size: 50px;
    }

    .mission h4{
        font-size: 40px;
    }
}